extends templates/_base


block variables
    - var htmlLang = 'pt-br';
    - var pageTitle = 'dmrqx Front-End Boilerplate';
    - var classList = '';


block content
    .wrapper(role='main')
        h1 This is a sample project template
        p Edit at your own risk
